
button{
  background-color: rgb(50, 81, 102);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease 0s;
}

.container{
  width: 50vw;
  height: 60vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

h1{
  font-weight: 600;
}

.toggle{
  padding-top: 10px;
}